.box-modal {
	text-align: center;
	position: relative;
	width: 500px;
	padding: 16px;
	background: #0c4864;
	color: #fff;
	font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(39,255,255, 0.8);
	-moz-box-shadow:    0px 0px 10px 0px rgba(39,255,255, 0.8);
	box-shadow:         0px 0px 10px 0px rgba(39,255,255, 0.8);
	border-radius: 6px;
	opacity: .9;
}
.box-modal_close { 
	position: absolute; 
	right: 10px; 
	top: 6px; 
	font-size: 1.7em; 
	line-height: 15px; 
	color: #999; 
	cursor: pointer;
	padding: 3px; 
	color: #fff;
}

.box-modal_close span
{
	position: relative;
	bottom: 1px;
}
.box-modal_close:hover { opacity: 0.5; }